In [ ]:
#Add two numbers
n1=5
n2=3
sum=n1+n2
print('Sum: ',sum)

Sum:  8

In [ ]:
#Max of two numbers
n1=5
n2=3
maximum=max(n1,n2)
print('Maximum: ', maximum)

Maximum:  5

In [ ]:
#Factorial of a number
def Factorial(n):
  if (n==0 or n==1):
    return n
  else:
    return n*Factorial(n-1)

factorial=Factorial(5)
print('Factorial: ',factorial)

Factorial:  120

In [ ]:
#Simple Interest
def Interest(p,t,r):
  return (p*t*r)/100

interest=Interest(10000,5,5)
print('Interest: ',interest)

Interest:  2500.0

In [ ]:
#Compound Interest
def CompoundInterest(p,r,t):
  a=p*(pow((1+r/100),t))
  return a-p

interest=CompoundInterest(10000,10.25,5)
print('Çompound Interest: ',interest)

Çompound Interest:  6288.946267774416

In [ ]:
#Armstrong Number

def Length(num):
  l=0
  while(num>0):
    num=int(num/10)
    l=l+1
  return l

def IsArmstrong(n):
  len=Length(n)
  num=n
  sum=0

  while(num>=1):
    m=num%10
    num=int(num/10)
    sum=sum+pow(m,len)

  if sum==n:
    return 'Armstrong Number'
  else:
    return 'Not an Armstrong Number'

IsArmstrong(153)

'Armstrong Number'

In [ ]:
#Area of Circle
def Area(r):
  return 3.1416*pow(r,2)

area=Area(5)
print('Area:',area)

Area: 78.53999999999999

In [ ]:
#Prime no
def IsPrime(n):
  if (n==0 or n==1):
    return 'Not Prime'

  i=2
  while(i<(n/2)+1):
    if(n%i==0):
      return 'Not Prime'
    i=i+1
  return 'Prime'


IsPrime(3)

'Prime'

In [ ]:
#Fibonacci Series
def Fibonacci(n):
  if n==0:
    return 'Not Possible'
  if n==1:
    return 0
  if n==2:
    return 1
  else:
    return Fibonacci(n-1)+Fibonacci(n-2)

Fibonacci(10)

34

In [ ]:
#Fibonacci
import math
def PerfectSquare(n):
  x=int(math.sqrt(n))
  if x*x==n:
    return 'True'
  else:
    return 'False'

def IsFibonacci(n):
  if PerfectSquare(5*pow(n,2)+4) or PerfectSquare(5*pow(n,2)-4):
    return 'Yes Fibonacci'
  return 'Not Fibonacci'

IsFibonacci(34)

'Yes Fibonacci'

In [ ]:
#ASCII value
def ASCII(a):
  if (a>='a' and a<='z'):
    d=abs(ord('a')-ord(a))
    return 97+d
  if (a>='A' and a<='Z'):
    d=abs(ord('A')-ord(a))
    return 65+d

ASCII('Z')

90

In [ ]:
#Natural Numbers
def Natural(n):
  i=1
  sum=0
  while(i<=n):
    sum=sum+pow(i,2)
    i=i+1
  return sum

Natural(7)

140

# **Array Problems**

In [ ]:
#sum of array
def Sum(arr):
  sum=0
  for i in range (len(arr)):
    sum=sum+arr[i]
  return sum

arr=[1,2,3,4,5,6,7,8,9]
Sum(arr)

45

In [ ]:
#largest element
def Largest(arr):
  max=0
  for i in range(len(arr)):
    if arr[i]>max:
      max=arr[i]
  return max

arr=[20, 10, 200, 4, 100]
Largest(arr)

200

In [ ]:
#Left Rotation
def Rotate(arr,p):
    j=0
    while(j<p):
      temp=arr[0]
      for i in range(len(arr)-1):
        arr[i]=arr[i+1]
      arr[len(arr)-1]=temp
      j=j+1
    return arr

arr=[1,2,3,4,5,6,7,8,9]
Rotate(arr,3)

[4, 5, 6, 7, 8, 9, 1, 2, 3]

In [ ]:
#Complete Rotation
def Rotation(arr):
  for i in range(int((len(arr))/2)):
    temp=arr[i]
    arr[i]=arr[len(arr)-i-1]
    arr[len(arr)-i-1]=temp
    return arr

arr=[1,2,3,4,5,6,7,8,9]
Rotation(arr)

[9, 2, 3, 4, 5, 6, 7, 8, 1]

In [ ]:
#Split
def Split(arr,p):
    j=0
    while(j<p):
      temp=arr[0]
      for i in range(len(arr)-1):
        arr[i]=arr[i+1]
      arr[len(arr)-1]=temp
      j=j+1
    return arr

arr=[3, 1, 2]
Split(arr,1)

[1, 2, 3]

In [ ]:
def Remainder(arr,d):
  sum=arr[0]*arr[1]
  for i in range(2,len(arr)):
    sum=sum*arr[i]
  return (sum%d)

arr=[100,10,5,25,35,14]
Remainder(arr,11)

9

In [ ]:
#Monotonic
def IsMonotone(arr):
  flag=0
  for i in range(len(arr)-1):
    if (arr[i]<=arr[i+1]):
      flag=0
    else:
      flag=flag+1

    if (arr[i]>=arr[i+1]):
      flag=0
    else:
      flag=flag+1

    if flag==0:
      return True
    else:
      return False

arr=[6,5,4,4]
IsMonotone(arr)

True

# **List Problems**

In [ ]:
#swap first and last element
def swap(lst):
    if len(lst) >= 2:
        lst[0], lst[-1] = lst[-1], lst[0]

l1 = [1, 2, 3, 4, 5]
swap(l1)
print("Swapped List:", l1)

Swapped List: [5, 2, 3, 4, 1]

In [ ]:
#element exist in list
list1 = [1, 6, 3, 5, 3, 4]
for i in list1:
    if(i == 5):
      print("Element Exists")

Element Exists

In [ ]:
#Reverse a list
def Reverse(lst):
   new_lst = lst[::-1]
   return new_lst

lst = [10, 11, 12, 13, 14, 15]
Reverse(lst)

[15, 14, 13, 12, 11, 10]

In [ ]:
#sum of elements
def Sum(list1):
  total = 0
  for ele in range(0, len(list1)):
    total = total + list1[ele]
  return total

list1 = [11, 5, 17, 18, 23]
Sum(list1)

74

In [ ]:
#multiply elements
def multiply(list1):
	result = 1
	for x in list1:
		result = result * x
	return result

list1 = [3, 2, 4]
multiply(list1)

24

In [ ]:
#smallest element
list1 = [10, 20, 4, 45, 99]
list1.sort()
print("Smallest element:", list1[0])

Smallest element is: 4

In [ ]:
#largest element
list1 = [10, 20, 4, 45, 99]
list1.sort()
print("Largest element:", list1[-1])

Largest element: 99

In [ ]:
#second largest element
list1 = [10, 59, 4, 45, 99]
list1.sort()
print("Second Largest element:", list1[-2])

Second Largest element: 59

In [ ]:
#print even numbers
list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
	if num % 2 == 0:
		print(num, end=" ")

10 4 66

In [ ]:
#positive numbers in list
list1 = [11, -21, 0, 45, 66, -93]
for num in list1:
	if num >= 0:
		print(num, end=' ')

11 0 45 66

In [ ]:
#nagative numbers in list
list1 = [11, -21, 0, 45, 66, -93]
for num in list1:
	if num < 0:
		print(num, end=' ')

-21 -93

In [ ]:
#remove empty list from list
list1 = [5, 6, [], 3, [], [], 9]
print("The original list is : " + str(list1))
res = [ele for ele in list1 if ele != []]
print("List after empty list removal : " + str(res))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

In [ ]:
#cloning the list
def Cloning(list1):
	list_copy = list1[:]
	return list_copy

list1 = [4, 8, 2, 10, 15, 18]
list2 = Cloning(list1)
print("Original List:", list1)
print("After Cloning:", list2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
#count number of occurrences
def count(lst, x):
	count = 0
	for ele in lst:
		if (ele == x):
			count = count + 1
	return count

lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,count(lst, x)))

8 has occurred 5 times

In [ ]:
#print duplicate list
lis = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]

uniqueList = []
duplicateList = []

for i in lis:
	if i not in uniqueList:
		uniqueList.append(i)
	elif i not in duplicateList:
		duplicateList.append(i)

print(duplicateList)

[1, 2, 5, 9]

In [ ]:
#sort one list from other list
def sort_list(list1, list2):
	zipped_pairs = zip(list2, list1)
	z = [x for _, x in sorted(zipped_pairs)]
	return z

# driver code
x = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
y = [0, 1, 1, 0, 1, 2, 2, 0, 1]
print(sort_list(x, y))

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']

In [ ]:
# sum of number of elements
list1 = [12, 67, 98, 34]
print("The original list is : " + str(list1))

res = []
for ele in list1:
	sum = 0
	for digit in str(ele):
		sum += int(digit)
	res.append(sum)

print ("List Integer Summation : " + str(res))

The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]

# **Matrix Problems**

In [ ]:
# add two matrices
X = [[1,2,3], [4 ,5,6], [7 ,8,9]]
Y = [[9,8,7], [6,5,4], [3,2,1]]
result = [[0,0,0], [0,0,0], [0,0,0]]

for i in range(len(X)):
	for j in range(len(X[0])):
		result[i][j] = X[i][j] + Y[i][j]

for r in result:
	print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [ ]:
# mutliply two matrices
X = [[1,2,3], [4 ,5,6], [7 ,8,9]]
Y = [[9,8,7], [6,5,4], [3,2,1]]
result = [[0,0,0], [0,0,0], [0,0,0]]

for i in range(len(X)):
	for j in range(len(X[0])):
		result[i][j] = X[i][j] * Y[i][j]

for r in result:
	print(r)

[9, 16, 21]
[24, 25, 24]
[21, 16, 9]

In [ ]:
#transpose of matrix
m = [[1,2],[3,4],[5,6]]
for row in m :
	print(row)
rez = [[m[j][i] for j in range(len(m))] for i in range(len(m[0]))]
print("\n")
for row in rez:
	print(row)

[1, 2]
[3, 4]
[5, 6]


[1, 3, 5]
[2, 4, 6]

In [ ]:
#vertical concatenation
from itertools import zip_longest

test_list = [["Gfg", "good"], ["is", "for"], ["Best"]]
print("The original list : " + str(test_list))
res = ["".join(ele) for ele in zip_longest(*test_list, fillvalue ="")]
print("List after column Concatenation : " + str(res))

The original list : [['Gfg', 'good'], ['is', 'for'], ['Best']]
List after column Concatenation : ['GfgisBest', 'goodfor']